/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per-module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/fastqc" },
            mode: params.publish_dir_mode,
            pattern: "*.{html,zip}"
        ]
    }

    withName: FASTP {
        ext.args = "--cut_front --cut_tail --cut_mean_quality 20"
        publishDir = [
            path: { "${params.outdir}/fastp" },
            mode: params.publish_dir_mode,
            pattern: "*.{html,json,fastq.gz}"
        ]
    }

    withName: SPADES {
        ext.args = "--careful"
        publishDir = [
            path: { "${params.outdir}/spades" },
            mode: params.publish_dir_mode,
            pattern: "*.{fasta,gfa,log}"
        ]
    }

    withName: BWA_INDEX {
        publishDir = [
            path: { "${params.outdir}/bwa_index" },
            mode: params.publish_dir_mode,
            pattern: "*.{amb,ann,bwt,pac,sa}"
        ]
    }

    withName: BWA_MEM {
        ext.args = "-M"
        publishDir = [
            path: { "${params.outdir}/bwa_mem" },
            mode: params.publish_dir_mode,
            pattern: "*.bam"
        ]
    }

    withName: SAMTOOLS_INDEX {
        publishDir = [
            path: { "${params.outdir}/samtools_index" },
            mode: params.publish_dir_mode,
            pattern: "*.bai"
        ]
    }

    withName: QUAST {
        publishDir = [
            path: { "${params.outdir}/quast" },
            mode: params.publish_dir_mode,
            pattern: "*.{txt,tsv,html}"
        ]
    }

    withName: BUSCO {
        ext.args = "--mode genome"
        publishDir = [
            path: { "${params.outdir}/busco" },
            mode: params.publish_dir_mode,
            pattern: "*.{txt,json}"
        ]
    }

    withName: BLAST_BLASTN {
        ext.args = "-task megablast -max_target_seqs 1 -max_hsps 1 -evalue 1e-25"
        publishDir = [
            path: { "${params.outdir}/blast" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }

    withName: BLOBTOOLS {
        publishDir = [
            path: { "${params.outdir}/blobtools" },
            mode: params.publish_dir_mode,
            pattern: "*.{json,png,txt}"
        ]
    }

    withName: BAKTA {
        publishDir = [
            path: { "${params.outdir}/bakta" },
            mode: params.publish_dir_mode,
            pattern: "*.{gff3,faa,ffn,tsv,txt}"
        ]
    }

    withName: BAKTADBDOWNLOAD {
        publishDir = [
            path: { "${params.outdir}/bakta_db" },
            mode: params.publish_dir_mode,
            pattern: "bakta_db/*"
        ]
    }

    withName: FINALIZE_RESULTS {
        publishDir = [
            path: { "${params.outdir}/final_results" },
            mode: params.publish_dir_mode,
            pattern: "*_final_report.txt"
        ]
    }
}
