/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run wgsbac/wgsbac -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
  
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input options
    input                      = null
    
    //Fastp Params
    adapter_fasta              = []
    discard_trimmed_pass       = false
    save_trimmed_fail          = false
    save_merged                = false
    
    //Spades Params
    hmm                        = []
    yml                        = []
    
    // Busco Params
    mode                       = 'genome'
    lineage                    = 'bacteria_odb10'
    busco_db                   = "wgsbac/assets/data/databases/busco_db"
    config_file                = []
    clean_intermediates        = false
    
    // Blastn Params
    blast_db                   = "wgsbac/assets/data/databases/blast_db"

    // Bakta Params
    bakta_db                   = ""
    bakta_db_type              = 'light'

    // Blobtools Params
    nodes_db                   = "wgsbac/assets/data/blobtools/nodesDB.txt"

    // Limit resources for testing
    max_cpus = 2
    max_memory = '6.GB'
    max_time = '6.h'
    
    // Output directory
    outdir = "wgsbac/assets/results"
}
